body {
  font-family:Verdana, Arial;
  font-size:12pt;
  color: #000080;
}

h1 {
  font-size:18pt;
  font-weight:bold;
  font-variant:small-caps;
  letter-spacing:2px;
  color: #000000;
}

img {
  float:left;
  padding: 9px;
}

footer {
  padding-top: 12px;
  text-align:center;
}

a:link, a:visited, a:active {
  color:#19619a;
  font-weight:bold;
  text-decoration:none;
}

a:hover {
  background-color:#ffd700;
  font-weight:bold;
  text-decoration:none;
}

div {
  padding: 3px;
}

div.player_info, div.player_favorites {
  float:left;
  vertical-align:top;
  width:350px;
}

.label {
  font-weight:bold;
  font-variant:small-caps;
}

table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.stats {
  width:100%;
  clear:both;
  text-align:right;
  font-size:11pt;
}

thead {
  font-variant:small-caps;
  background-color: #000080;
  color: #ffffff;
}

tr.light {
  background-color: #ffffff;
}

tr.dark {
  background-color: #eeeeee;
}

th.season, td.season {
  text-align:left;
}












